{% extends "base.html" %}
{% block main %}
<h1>{{ title }} </h>
<div class ="sample">
	{% for x in albums %}
	{% if x.img is not none %}
		<img src="{{ url_for('static', filename='images/'+x.img) }}"/>
		{{ x.id }}
	{% endif %}	
	{% endfor %}
</div>
{% endblock %}